<section class="content-header">
    <ol class="breadcrumb">
        <li><a href><i class="fa fa-dashboard"></i> 功能 </a></li>
        <li><a href="#/modal"><i class="fa fa-tablet"></i> 弹窗 </a></li>
    </ol>
</section>

<div class="container" >
    <button type="button" class="btn btn-primary" ng-click="showModal()" ><span>打开窗口</span></button>
    <button type="button" class="btn btn-primary" ng-click="showModal('lg')" ><span>打开窗口(大)</span></button>
    <button type="button" class="btn btn-primary" ng-click="showModal('sm')" ><span>打开窗口(小)</span></button>
</div>