<section class="content-header">
    <ol class="breadcrumb">
        <li><a href><i class="fa fa-dashboard"></i> 功能 </a></li>
        <li><a href="#/tree"><i class="fa fa-upload"></i> 上传 </a></li>
    </ol>
</section>

<div class="container">

    <h3>非插件demo</h3>
    <hr>
    <div class="input-group col-md-6">
        <span class="input-group-addon">单文件上传</span>
        <input type="file" class="form-control" file-model="file"/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="upload()">
                <i class="glyphicon glyphicon-upload"></i>
            </button>
        </span>
    </div>
    <br>

    <div class="input-group col-md-6">
        <span class="input-group-addon">多文件上传</span>
        <input type="file" class="form-control" multi-file-model="files" multiple/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="multiUpload()">
                <i class="glyphicon glyphicon-upload"></i>
            </button>
        </span>
    </div>
    <hr>
    <h3>插件demo</h3>
    <hr>
    <div class="input-group col-md-6">
        <ul class="list-group">
            <li class="list-group-item">文件名：{{pluginFile.name}}</li>
            <li class="list-group-item">文件大小：{{pluginFile.size}}</li>
        </ul>
        <div class="btn btn-sm btn-primary" ngf-select ng-model="pluginFile" ngf-pattern="'image/*'"
             ngf-accept="'image/*'" ngf-max-size="20MB">单文件
        </div>
        <button class="btn btn-sm btn-warning" ng-click="pluginUpload()">上传</button>
        <br><br>
        <uib-progressbar value="progress">{{progress + '%'}}</uib-progressbar>
    </div>

    <div class="input-group col-md-6">
        <ul class="list-group">
            <li class="list-group-item">文件数量：{{pluginFiles.length}}</li>
        </ul>
        <div class="btn btn-sm btn-primary" ngf-select ng-model="pluginFiles" ngf-multiple="true"
             ngf-pattern="'image/*'"
             ngf-accept="'image/*'" ngf-max-size="20MB">多文件
        </div>
        <button class="btn btn-sm btn-warning" ng-click="pluginMultiUpload()">上传</button>
        <br><br>
        <uib-progressbar value="progresses">{{progresses + '%'}}</uib-progressbar>
    </div>

</div>