<section class="content-header">
    <ol class="breadcrumb">
        <li><a href><i class="fa fa-dashboard"></i> 功能 </a></li>
        <li><a href="#/tree"><i class="fa fa-upload"></i> 上传 </a></li>
    </ol>
</section>

<div class="container">

    <h3>非插件demo</h3>
    <hr>
    <div class="input-group col-md-6">
        <span class="input-group-addon">单文件上传</span>
        <input type="file" class="form-control" file-model="file"/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="upload()">
                <i class="glyphicon glyphicon-upload"></i>
            </button>
        </span>
    </div>
    <br>

    <div class="input-group col-md-6">
        <span class="input-group-addon">多文件上传</span>
        <input type="file" class="form-control" multi-file-model="files" multiple/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="multiUpload()">
                <i class="glyphicon glyphicon-upload"></i>
            </button>
        </span>
    </div>
    <hr>

</div>