<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--读取配置文件-->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
                <value>classpath:log4j.properties</value>
                <value>classpath:redis.properties</value>
            </list>
        </property>
    </bean>

    <!-- 扫描配置 -->
    <context:component-scan base-package="com.chenhao.admin.config"/>

    <!--导入mybatis配置文件-->
    <import resource="classpath:spring-mybatis.xml"/>

    <!--导入task配置文件-->
    <import resource="classpath:spring-task.xml"/>

    <!--导入cache配置文件-->
    <import resource="classpath:spring-cache.xml"/>

</beans>