<section class="content-header">
    <ol class="breadcrumb">
        <li><a href><i class="fa fa-dashboard"></i> 功能 </a></li>
        <li><a href="#/grid"><i class="fa fa-file-excel-o"></i> 表格</a></li>
    </ol>
</section>
<div class="container" ng-init="load()">

    <!--按钮组-->
    <button type="button" class="btn btn-sm btn-primary" ng-click="insert()"><span>新增</span></button>
    <button type="button" class="btn btn-sm btn-primary" ng-click="update()" ng-disabled="!singleFlag"><span>修改</span></button>
    <button type="button" class="btn btn-sm btn-primary" ng-click="delete()" ng-disabled="zeroFlag"><span>删除</span></button>
    <div class="btn-group btn-group-sm" uib-dropdown>
        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>更多 <span class="caret"></span></button>
        <ul class="uib-dropdown-menu">
            <li role="menuitem"><a href>操作1</a></li>
            <li role="menuitem"><a href>操作2</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a href ng-click="singleFlag?demo():false" ng-class="{disabledA: !singleFlag}">操作n</a></li>
        </ul>
    </div>
    <button type="button" class="btn btn-sm btn-primary" ng-click="load()"><i class="fa fa-refresh"></i></button>
    <hr>
    <div ng-class="{'loading': loading}" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection></div>
    <pre class="paginationDes">总记录数:{{totalItems}}, 页码: {{pageNo}} / {{totalPages}}</pre>
    <uib-pagination ng-change="pageChanged()" ng-model="pageNo" num-pages="totalPages" items-per-page="pageSize" total-items="totalItems"  max-size="btnSize" class="pagination-sm" boundary-links="true" rotate="false" ></uib-pagination>
</div>
