::-webkit-scrollbar {width:0}

#loading-bar .bar {
    background: green;
}

html,body{
    width: 100%;
    height: 100%;
}

a,span,label,th,td,div{
    font-size: 12px;
    font-family: 'Microsoft Yahei';
}

#header{
    margin: 0;
    border: 0;
    background-color: #09C;
}

#header .navbar-header a, #header .navbar-btns>li>a{
    color: #ffffff;
}

#header .navbar-btns>li>a, #header .navbar-btns>li>a:hover, #header .navbar-btns>li>a:focus{
    color: #ffffff!important;
    background-color: #09C!important;
}

#container{
    width: 100%;
    height: calc(100% - 50px);
    padding: 0;
    overflow: auto;
}

#container>#slider-menu{
    height: 100%;
    padding: 0;
    background-color: rgb(41, 48, 56);
    overflow: auto;
}

#container>#slider-menu li{
    border-bottom: 1px solid #22282e;
}

#container>#slider-menu a:hover{
    background-color: #37424f!important;
}

#container>#slider-menu a:focus{
    background-color: #22282e!important;
}

#container>#slider-menu i{
    color: #ffffff;
    width: 12px;
    height: 12px;
}

#container>#slider-menu span{
    margin-left: 10px;
    color: #ffffff;
}

#container>#slider-menu .nav-sub a{
    padding-left: 40px;
}

#container>#content{
    height: 100%;
    background-color: #ffffff;
    overflow: auto;
    padding: 0;
}

.slider-menu-hide{
    width: 50px;
    float: left;
    overflow-x: hidden;
}

#slider-menu>ul>li{
    border-left: 2px solid #09C;
}

.slider-menu-hide span{
    display: none;
}

.slider-menu-hide .nav-sub a{
    padding-left: 15px!important;
}

.slider-menu-ctrl-max{
    text-align: center;
}

.slider-menu-ctrl-min{
    text-align: left;
}

.content-max{
    width: calc(100% - 50px);
    float: left;
}

#content>.container{
    width: 100%;
}

.loading{
    background:url("../img/loading.gif") no-repeat center center;
}

.ui-grid-viewport{
    overflow-x: hidden!important;
}

.disabledA{
    color: #9d9d9d!important;
}

.paginationDes{
    margin-bottom: 0px;
}

#searchBar{
    padding-right: 0!important;
}

.ui-grid-header-cell{
    background-color: #ffffff;
}

.ui-grid-row-header-cell{
    background-color: #ffffff!important;
}